@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Ramona";
  src: url("../assets/fonts/Ramona-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Ramona Bold";
  src: url("../assets/fonts/Ramona-Bold.woff") format("woff");
  font-display: swap;
}