@import "./base.css";
@import "./fonts.scss";

/* colors */
$yellow: #e1f500;
$lime: #b0dc33;
$green: #01493b;
$purple: #6f3ef9;
$dark-purple: #432595;

/*screens*/
$desktop: 768px;
$bigScreen: 1120px;
$maxWidth: 980px;
$textWidth: 600px;

body {
  font-family: "Ramona", Avenir;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: $lime;
}

::selection {
  color: black;
  background: $lime;
}

@mixin bold($width, $color) {
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $color;
}

@mixin h2() {
  font-size: 2.5rem;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    font-size: 3.5rem;
  }
}

@mixin h3() {
  font-size: 1.5rem;
  margin-bottom: 20px;
  @include bold(1px, black);

  @media (min-width: $desktop) {
    font-size: 1.8rem;
  }
}

@mixin blob($width, $height, $position) {
  content: "";
  width: $width;
  height: $height;
  position: $position;
  border-radius: 50%;
  z-index: -1;
}

span.h1 {
  @include bold(0.5px, black);
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  padding: 20px;
}

h2 {
  text-align: center;
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  font-size: 36px;
  line-height: 1.1;
  margin-top: 8rem;
  margin-bottom: 31px;
  max-width: $desktop;
}

span {
  color: $lime;
}

.mobileNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $lime;

  nav {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

nav.nav {
  display: flex;
  justify-content: right;
  width: 100vw;
  background: #fff;
  padding: 1rem;
  position: fixed;
  z-index: 999;

  div.icon {
    color: #000;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    padding: 4rem 0 2rem 0;
    justify-content: center;
    align-items: center;

    div.icon {
      display: none !important;
    }
  }
}

ul.desktop {
  justify-content: center;
  align-items: center;
  display: none;
  @media (min-width: $desktop) {
    display: flex;
  }
}

ul.mobile {
  display: flex;
  flex-direction: column;
  padding: 8rem 4rem;

  li {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 38px;
  }
  a {
    border-bottom: 2px solid transparent;
  }
}

nav.nav li {
  @media (min-width: $desktop) {
    flex-direction: row;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
  a:hover {
    border-bottom: 2px solid #000;
  }

  @media (min-width: $desktop) {
    margin-right: 4rem;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 2rem 1rem;

  @media (min-width: $bigScreen) {
    flex-direction: row;
    padding: 4rem;
  }
}

.start {
  padding-top: 6rem;
  padding-bottom: 0;
  @media (min-width: $desktop) {
    padding-top: 10rem;
  }
}

.startDiv {
  max-width: 450px;
  &:last-child {
    max-width: initial;
  }

  @media (min-width: $desktop) {
    width: 450px;

    img {
      height: 100% !important;
    }
  }

  img {
    height: 170px;
    margin: 20px;
  }
}

.spiral {
  position: absolute;
  right: 0;
  top: 20%;
  @media (min-width: $bigScreen) {
    width: 150px;
    right: auto;
    transform: translate(480px);
  }
  @media (max-width: $desktop) {
    opacity: 0;
  }
}

.secondSpiral {
  position: absolute;
  right: 0;
  width: 200px;
  transform: translate(-115px, -50px);
  @media (max-width: $maxWidth) {
    transform: translate(0, -50px);
  }
  @media (max-width: $desktop) {
    opacity: 0;
  }
}

.heart {
  position: absolute;
  left: 10%;
  top: 2%;
  @media (min-width: $bigScreen) {
    top: 20%;
    left: auto;
    width: 40px;
    transform: translate(-435px, -90px);
  }
  @media (max-width: $desktop) {
    opacity: 0;
  }
}

.heroImage {
  position: relative;
}

.utopie {
  flex-direction: column;
  scroll-margin-top: 120px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.title h1 {
  margin-bottom: 20px;
}

.fullSizeImageContainer {
  max-width: $maxWidth;
  max-height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  max-width: $maxWidth;
  justify-content: space-around;
}

.projectEntry {
  margin: 1rem auto;
  text-align: center;
  @media (min-width: $bigScreen) {
    max-width: 360px;
    margin: 2rem;
  }
}

p {
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: $desktop) {
    font-size: 21px;
  }
}

.contentSection {
  max-width: $maxWidth;
  text-align: center;

  figure {
    margin: 0 0 4rem 0;
    position: relative;
  }
}

.footer {
  bottom: 0;
  background: $lime;
  width: 100vw;
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: center;
}

.partners {
  max-width: $maxWidth;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partner {
  width: 110px;
  margin: 15px;

  @media (min-width: $desktop) {
    width: 150px;
  }
}

.blogPageEntry {
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;

  @media (min-width: $maxWidth) {
    flex-direction: row;
  }

  article,
  figure {
    @media (min-width: $maxWidth) {
      width: 50%;
    }
    width: 100%;
  }

  figure {
    @media (max-width: $maxWidth) {
      display: none;
    }
    @media (max-width: $desktop) {
      display: block;
    }

    img {
      object-fit: cover;
      object-position: center;
      @media (min-width: $desktop) {
        aspect-ratio: 4 / 3;
      }
      @media (min-width: $bigScreen) {
        aspect-ratio: 16 / 10;
      }
    }
  }

  article {
    padding: 3rem;
    background: #f8f9f6;

    time {
      font-size: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      margin: 0.5em 0;
      line-height: 1.2;
    }

    p {
      font-size: 18px;
    }

    a {
      @include bold(1px, black);
      letter-spacing: 0.7px;
      line-height: 2.4;
      border-bottom: 2px solid black;
    }
  }
}

.blogPageTitle {
  margin: 3rem 0 1rem 0;
  @media (min-width: $desktop) {
    margin: 8rem 0 1rem 0;
  }
}

.subtitle {
  max-width: $desktop;
  text-align: center;
  margin-bottom: 4rem;

  img {
    object-fit: cover;
    object-position: bottom center;
    aspect-ratio: 16 / 10;
  }
}

.blogEntryContent {
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogEntryContent article {
  @media (min-width: $desktop) {
    padding: 4rem;
  }
  padding: 2rem 5px;
}

.blogEntryContent header {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: $desktop;
  @media (min-width: $desktop) {
    margin-top: 8rem;
  }
}

.blogEntryContent h2 {
  font-size: 36px;
  line-height: 1.1;
  text-transform: none;
}

.blogEntryContent header p {
  margin: 0.5rem auto 2rem auto;
  font-size: 18px;
}

.datum {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #696969;
}

.blogEntryParagraph {
  margin-bottom: 1rem;
  font-size: 18px;
}

nav.breadcrumbs {
  padding: 1rem;

  li {
    text-decoration: none;
    display: inline;
  }

  span {
    @include bold(0.7px, $lime);
    letter-spacing: 0.05em;
  }
  span.blogEntryTitle {
    color: black;
    @include bold(0.5px, black);
  }
}

.boldRawLink {
  @include bold(0.5px, black);
  color: black;
}

.inlineLink {
  @include bold(0.5px, black);

  border-bottom: 2px solid #000;
}

.rawImage {
  margin: 1rem auto 2rem auto;
}

.programTable {
  margin: 5em 0;

  &__row {
    border-bottom: 1px solid black;

    td {
      padding: 0.5em 1em 0.5em 0;
      font-size: 1em;
      @include bold(0.5px, black);

      @media (min-width: $desktop) {
        font-size: 1.4em;
      }
    }

    &__title {
      text-transform: uppercase;
    }
  }
}

.filmArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4em;

  @media (min-width: $desktop) {
    text-align: start;
  }

  &__img {
    width: $maxWidth;
    max-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
  }

  &__header {
    display: flex;
    flex-direction: column;
    max-width: $textWidth;
    margin: 2.5em 0;

    @media (min-width: $desktop) {
      justify-content: space-between;
      flex-direction: row;
      width: $textWidth;
    }
  }

  &__title {
    @include h2();
    -webkit-text-stroke: inherit;
    margin: 0;
    margin-top: 0.8rem;

    @media (min-width: $desktop) {
      margin-top: 0;
    }
  }

  &__content {
    max-width: $textWidth;
  }

  &__extras {
    @include bold(0.5px, black);
    font-size: 1em;
    line-height: 1.4;
    @media (min-width: $desktop) {
      width: 158px;
    }
  }
}

.kalender {
  max-width: 680px;
  text-align: center;
  margin-top: 2.5em;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    width: 680px;
  }

  &__caption {
    @include h3();
    @include bold(0.5px, black);
  }

  &__weekdays {
    @include bold(0.5px, black);
  }

  &__weekday {
    padding: 1em;
  }

  &__tag {
    padding: 1em;

    span {
      @include blob(20px, 20px, absolute);
    }

    /* one item */
    span:only-child {
      transform: translate(20px, -3px)
        skew((random() * 2) + deg, (random() * 2) + deg);
    }

    // /* two items */
    span:first-child:nth-last-child(2) {
      transform: translate(42px, -3px)
        skew((random() * 2) + deg, (random() * 2) + deg);
    }

    span:first-child:nth-last-child(2) ~ span {
      transform: translate(20px, -3px)
        skew((random() * 2) + deg, (random() * 2) + deg);
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;

    button {
      background: none;
      border: none;
      display: flex;
      width: 60px;

      &:hover {
        svg path {
          fill: $lime;
        }
      }
    }
  }

  &__leftArrow {
    transform: rotate(180deg);
  }

  &__legend {
    max-width: 680px;
    display: flex;
    gap: 20px;
    padding: 1em 0;

    @media (min-width: $desktop) {
      width: 680px;
      padding: 1em 2.5em;
    }

    ::before {
      @include blob(15px, 15px, relative);
      display: inline-block;
      margin-right: 11px;
      transform: translateY(2px);
    }

    :first-child::before {
      background-color: $yellow;
    }
    :nth-child(2)::before {
      background-color: $lime;
    }
    :nth-child(3)::before {
      background-color: $green;
    }
    :nth-child(4)::before {
      background-color: $purple;
    }
    :last-child::before {
      background-color: $dark-purple;
    }
  }

  &__legendItem {
    @include bold(0.5px, black);
    font-size: 1em;
    line-height: 1.4;
  }

  &__gartentageLegend {
    @include bold(0.5px, black);
    line-height: 1.4;
    padding: 0;
    transform: translateY(-10px);
    font-size: 14px;
    @media (min-width: $desktop) {
      width: 680px;
      padding: 0 2.5em;
    }
  }

  .garten {
    background-color: $yellow;
  }

  .white {
    color: white;
    @include bold(0.5px, white);
  }

  .cafe {
    background-color: $lime;
  }

  .kompostworkshop {
    background-color: $green;
  }

  .survivalkurs {
    background-color: $dark-purple;
  }
}

.disabled,
button.disabled:hover {
  svg path {
    fill: #00000040;
  }
}
